   body,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     font-family: "Montserrat", sans-serif
   }

   .w3-row-padding img {
     margin-bottom: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
   }

   /* Set the width of the sidebar to 120px */
   .w3-sidebar {
     width: 120px;
     background: #222;
   }

   /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
   #main {
     margin-left: 120px;
     background-color: #f1f1f1;
   }





    #image_container {
      width: 100%;
     
    }
  
    #floated {
      float: right;
      width:58%;
      
    }

   #myImg {
     border-radius: 5px;
     cursor: pointer;
     transition: 0.3s;
   }

   #myImg {
     border-radius: 5px;
     cursor: pointer;
     transition: 0.3s;
   }




     .container {
      position: relative;
      width: 100%;
     }

 
  

     .image {
       display: block;
       width: 100%;
       height: auto;
     }
  
     .overlay {
       position: absolute;
       bottom: 0;
       background: rgb(0, 0, 0);
       background: rgba(0, 0, 0, 0.5);
       /* Black see-through */
       color: #f1f1f1;
       width: 100%;
       transition: .5s ease;
       opacity: 0;
       color: white;
       font-size: 20px;
       padding: 20px;
       padding-bottom: 30px;
       text-align: center;
     }
  
     .container:hover .overlay {
       opacity: 1;
       padding-bottom: 10%;
     }



   /* Add Animation */
   .modal-content{
     -webkit-animation-name: zoom;
     -webkit-animation-duration: 0.6s;
     animation-name: zoom;
     animation-duration: 0.6s;
   }
   

    
   

   @-webkit-keyframes zoom {
     from {
       -webkit-transform: scale(0)
     }

     to {
       -webkit-transform: scale(1)
     }
   }

   @keyframes zoom {
     from {
       transform: scale(0)
     }

     to {
       transform: scale(1)
     }
   }






   /* Remove margins from "page content" on small screens */
   @media only screen and (max-width: 600px) {
     #main {
       margin-left: 0
     }
     h2{
      font-size: 1.7em;
     }
         .w3-jumbo {
           font-size: 3em !important;
          
         }

         .w3-hide-small{
          font-size: 15px;
          
         }

         .w3-image{
          width: 100%;
          height: 575px;
          object-fit: cover;
          object-position: bottom;
         }
             /* Adjust top position for smaller screens */
    .text-overlay {
        top: 60%; /* You can adjust the percentage accordingly */
    }

        .w3-content {
          font-size: 0.8rem;
          
      
        }

        /* This moves padding in sections e.g about me below */
        .w3-padding-64 {
          padding-top: 32px !important;
          padding-bottom: 32px !important
        } 
        /* MOVING INTO EDUCATION AREA */
        .content{
          font-size: 0.55em;
        }
        /* Modal stuff NOW */
        .modal-content {
         
          width: auto !important;
         
        }
        .modal-content2 {
         
          width: auto !important;
         
        }
    
        .modal-container {
          width: 100%;
          padding-top: 30vh;
          padding-right: 10vh;
          background-color: chocolate;
        }
        .modal-container2 {
          width: 100%;
          padding-top: 30vh;
          padding-right: 10vh;
          background-color: chocolate;
        }
    
        .close-btn {
          position: absolute;

          padding-top: 50%;
          font-size: 200%;
          padding-right: 10vh;
          cursor: pointer;
          color: white;
          /* Change the color as needed */
        }
        .close-btn2 {
          position: absolute;
          
            padding-top: 52%;
            font-size: 10%;
            padding-right: 15%;
            cursor: pointer;
            color: white;
          /* Change the color as needed */
        }
    
        .w3-modal {
          padding-top: 30px
        }
    
        .w3-dropdown-hover.w3-mobile .w3-dropdown-content,
        .w3-dropdown-click.w3-mobile .w3-dropdown-content {
          position: relative
        }
    
        .w3-hide-small {
          display: none !important
        }
    
        .w3-mobile {
          display: block;
          width: 100% !important
        }
    
        .w3-bar-item.w3-mobile,
        .w3-dropdown-hover.w3-mobile,
        .w3-dropdown-click.w3-mobile {
          text-align: center
        }
    
        .w3-dropdown-hover.w3-mobile,
        .w3-dropdown-hover.w3-mobile .w3-btn,
        .w3-dropdown-hover.w3-mobile .w3-button,
        .w3-dropdown-click.w3-mobile,
        .w3-dropdown-click.w3-mobile .w3-btn,
        .w3-dropdown-click.w3-mobile .w3-button {
          width: 100%
        }

   }

/* Styles for the modal and overlay */
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 25, 25, 0.7);
  overflow: auto;
}

.modal-container2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 25, 25, 0.7);
  overflow: auto;
}



.modal-content {
  width: 80%;
  /* Adjust the width as needed */
  max-width: 800px;
  /* Set a maximum width if desired */
  margin: 20px auto;
  /* Center the modal horizontally */
  background-color: rgb(39, 39, 39);
  padding: 20px;
  border-radius: 10px;
}
.modal-content2 {
  width: 80%;
  /* Adjust the width as needed */
  max-width: 800px;
  /* Set a maximum width if desired */
  margin: 20px auto;
  /* Center the modal horizontally */
  background-color: rgb(39, 39, 39);
  padding: 20px;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 1%;
    right: 1%;
    font-size: 200%;
  cursor: pointer;
  color: white;
  /* Change the color as needed */
}


.close-btn2 {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 200%;
  cursor: pointer;
  color: white;
  /* Change the color as needed */
}

/* Adjust the height of the iframe in the modal */
.map {
  height: 500px;
  /* Adjust the percentage or use a fixed value like 400px based on your preference */
}


.Education-container{
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    
      /* Stack items vertically */
  }

.Education-image{
    flex: 0 0 20%;
      /* 20% width of the container */
    /* margin-right: 30px; */
    flex-direction: column;
    
  }


.Education-image img {
            width: 100%;
            height: auto;
            border-radius: 8%;
            padding: 10%;
            float: right;
        }

.Qualification_Image{
    flex: 0 0 40%;
      /* 30% width of the container */
    /* margin-right: 30px; */
 
    
  }

.Qualification_Image img {
      width: 40%;
      height: auto;
      border-radius: 8px;
     
    }

.content {
   flex: 1; /* Takes up remaining space */
    display: flex;
      /* Use flexbox */
      justify-content: space-between;
      /* Add space between the two content boxes */
        }


.degree1,
.degree2 {
  width: 48%;
  /* Adjust width as needed and leave some space for margins */
  box-sizing: border-box;
  margin-bottom: 5px;

  /* Add some margin between the two content boxes */
}


.welcome-container{
              max-width: 100%;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                text-align: center;
                position: relative;
}


welcome-img {
            max-width: 100%;
            border-radius: 50%;
            margin-bottom: 20px;
        }
/* Style for the text overlay */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  /* Adjust text color based on your image */
}
.learn-more-btn {
            background-color: grey;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 20px;
            animation: pulse 1s infinite; /* Apply pulsing animation */
            
        }


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.scroll-arrows {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.arrow {
  font-size: 2em;
  margin: 10px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
}



.video-container {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-container2 {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}


/* switch buttons section */
.switch-btn {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all 0.3s linear;
}

.switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: #49a6e9;
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  background: #49a6e9;
  border-radius: 0.5rem;
  margin: 0;
  display: block;
  transition: all 0.3s linear;
}

.slide .switch {
  left: 0%;
}




/* switch buttons section */
.switch-btn2 {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all 0.3s linear;
}

.switch-btn2 span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: #49a6e9;
}

.switch2 {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  background: #49a6e9;
  border-radius: 0.5rem;
  margin: 0;
  display: block;
  transition: all 0.3s linear;
}

.slide2 .switch2 {
  left: 0%;
}