   body,
   h1,
   h2,
   h4,
   h5 {
     font-family: "Montserrat", sans-serif
   }

   .w3-row-padding img {
     margin-bottom: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
   }

   /* Set the width of the sidebar to 120px */
   .w3-sidebar {
     width: 120px;
     background: #f1f1f1;
   }

   /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
   #main {
     margin-left: 120px;
     background-color: #f1f1f1;
    font-family: "Montserrat", sans-serif
   }

  .blue{
    color:#6091e3;
    background-color: #6091e3;
    transition: width 1s;
   }
  @keyframes grow {
    from {
      width: 0%;
    }

    to {
      width: var(width);
    }
  }


  .animation {
    animation: grow 2.5s ease-out forwards;
  }


    #image_container {
      width: 100%;
     
    }
  
    #floated {
      float: right;
      width:58%;
      
    }




     .container {
      position: relative;
      width: 100%;
     }

 
  

     .image {
       display: block;
       width: 100%;
       height: auto;
     }
  
     .overlay {
       position: absolute;
       bottom: 0;
       background: rgb(0, 0, 0);
       background: rgba(0, 0, 0, 0.5);
       /* Black see-through */
       color: #f1f1f1;
       width: 100%;
       transition: .5s ease;
       opacity: 0;
       color: white;
       font-size: 0.8em;

       text-align: center;
     }
  
     .container:hover .overlay {
       opacity: 1;
       padding-bottom: 10%;
     }



   /* Add Animation */
   .modal-content{
     -webkit-animation-name: zoom;
     -webkit-animation-duration: 0.6s;
     animation-name: zoom;
     animation-duration: 0.6s;
   }
   

      /* Add Animation */
   .modal-content2{
     -webkit-animation-name: zoom;
     -webkit-animation-duration: 0.6s;
     animation-name: zoom;
     animation-duration: 0.6s;
   }
   

    
   

   @-webkit-keyframes zoom {
     from {
       -webkit-transform: scale(0)
     }

     to {
       -webkit-transform: scale(1)
     }
   }

   @keyframes zoom {
     from {
       transform: scale(0)
     }

     to {
       transform: scale(1)
     }
   }






   /* Remove margins from "page content" on small screens */
   @media only screen and (max-width: 680px) {
     #main {
       margin-left: 0
     }

     
     
    .content-jobs {
           flex: 0 0 100%;
           /* 70% width of the container */
           padding-right: 20px;
           /* Add some space between text and image */
         }


     h2{
      font-size: 1.7em;
     }

         .w3-hide-small{
          font-size: 15px;
          
         }

         .w3-image{
          width: 100%;
          height: 575px;
          object-fit: cover;
          object-position: bottom;
          z-index: 999;
         }
             /* Adjust top position for smaller screens */


        .w3-content {
          font-size: 0.8rem;
          
      
        }

        /* This moves padding in sections e.g about me below
        .w3-padding-64 {
          padding-top: 32px !important;
          padding-bottom: 32px !important
        }  */

        /* Modal stuff NOW */
        .modal-content {
         
          width: auto !important;
         
        }
        .modal-content2 {
         
          width: auto !important;
         
        }
    
        /* .modal-container {
          width: 100%;
          padding-top: 30vh;
          padding-right: 10vh;
          background-color: chocolate;
        }
        .modal-container2 {
          width: 100%;
          padding-top: 30vh;
          
          background-color: chocolate;
        } */
    
        .w3-hide-small {
          display: none !important
        }


        

   }

/* Styles for the modal and overlay */
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 25, 25, 0.7);
  overflow: auto;
}

.modal-container2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 25, 25, 0.7);
  overflow: auto;
}



.modal-content {
  width: 80%;
  /* Adjust the width as needed */
  max-width: 800px;
  /* Set a maximum width if desired */
  margin: 20px auto;
  /* Center the modal horizontally */
  background-color: rgb(39, 39, 39);
  padding: 20px;
  border-radius: 10px;
  color: white;

}
.modal-content2 {
  width: 80%;
  /* Adjust the width as needed */
  max-width: 800px;
  /* Set a maximum width if desired */
  margin: 20px auto;
  /* Center the modal horizontally */
  background-color: rgb(39, 39, 39);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.close-btn {
  position: relative;
  top: 1%;
  left: 99%;
  font-size: 200%;
  cursor: pointer;
  color: white;
  /* Change the color as needed */
}


.close-btn2 {
  position: relative;
  top: 1%;
  left: 95%;
  font-size: 100%;
  cursor: pointer;
  color: white;
  /* Change the color as needed */
}

/* Adjust the height of the iframe in the modal */
.map {
  height: 500px;
  /* Adjust the percentage or use a fixed value like 400px based on your preference */
}


.Education-container{
    width: 100%;
    max-width: 15000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* aligns items vertically */
    align-items: center;
    /* aligns items horizontally */
    
    
      /* Stack items vertically */
  }
.Employment-container{
   
    max-width: 15000px;
    
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
 
}

  .employment-description{
    max-width: 100%;
  }

.content-jobs {
    flex: 0 0 70%; /* 70% width of the container */
    padding-right: 20px; /* Add some space between text and image */
}



.Education-image img {
  max-width: 50%;
  /* Ensure image does not exceed its container */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 8%;
  max-height: 300px;
  /* Set a maximum height for the image */
  width: auto;
  /* Reset width to auto for responsiveness */
  padding: 10px;
  /* Add some padding around the image */
}


.Qualification_Image{
    flex: 0 0 40%;
      /* 30% width of the container */
    /* margin-right: 30px; */
 
    
  }

.Qualification_Image img {
      width: 40%;
      height: auto;
      border-radius: 8px;
     
    }

.content {
   flex: 1; /* Takes up remaining space */
    display: flex;
      /* Use flexbox */
      justify-content: space-between;
      /* Add space between the two content boxes */
        }

.degree1,
.degree2 {
  width: 48%;
  /* Adjust width as needed and leave some space for margins */
  box-sizing: border-box;
  margin-bottom: 5px;

  /* Add some margin between the two content boxes */
}

.emp1,
.emp2,
.emp3 {
  width: 100%;
  /* Adjust width as needed and leave some space for margins */
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 20px;

  /* Add some margin between the two content boxes */
}

.welcome-container{
                max-width: 100%;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                text-align: center;
                position: relative;
}
/* Style for the text overlay */

.learn-more-btn {
            background-color: #6091e3;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 20px;
            animation: pulse 2s infinite; /* Apply pulsing animation */
            
        }

        .padding-main{
          padding: 12px 24px !important
        }

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}



.video-container {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-container2 {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}


/* switch buttons section */
.switch-btn {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all 0.3s linear;
}

.switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: #49a6e9;
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  background: #49a6e9;
  border-radius: 0.5rem;
  margin: 0;
  display: block;
  transition: all 0.3s linear;
}

.slide .switch {
  left: 0%;
}




/* switch buttons section */
.switch-btn2 {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all 0.3s linear;
}

.switch-btn2 span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: #49a6e9;
}

.switch2 {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  background: #49a6e9;
  border-radius: 0.5rem;
  margin: 0;
  display: block;
  transition: all 0.3s linear;
}

.slide2 .switch2 {
  left: 0%;
}


/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}


details,
figure,
header,
main,
nav {
  display: block
  
}

audio,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline-width: 0
}


strong {
  font-weight: bolder
}

small {
  font-size: 80%
}

figure {
  margin: 1em 40px
}

img {
  border-style: none
}

code {
  font-family: monospace, monospace;
  font-size: 1em
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

button,
input,
select {
  font: inherit;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}



button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

/* End extract */
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

html {
  overflow-x: hidden
}

h1 {
  font-size: 6vm
}

h2 {
  font-size: 30px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h1,
h2,
h4,
h5 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.w3-wide {
  letter-spacing: 4px
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

.w3-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Center the image horizontally */
}

img {
  vertical-align: middle
}

a {
  color: inherit
}


.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}


.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}


.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}


:disabled * {
  pointer-events: none
}

.w3-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed !important;
  z-index: 1;
  overflow: auto
}


#main {
  transition: margin-left .4s
}

.w3-bar {
  width: 100%;
  overflow: hidden
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0
  
}

.w3-bar .w3-button {
  white-space: normal
}

.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0
}

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center
}


.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-bar:before,
.w3-bar:after {
  content: "";
  display: table;
  clear: both;
}


.w3-half {
  float: left;
  width: 33%;

}

.border{
      border: 2px solid;
        border-image: linear-gradient(to right, #49a6e9, #8dc4eb);
        border-image-slice: 1;
}

    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      /* Adjust text color based on your image */
    }


.w3-content {
  margin-left: auto;
  margin-right: auto;
}


.gallerycontainer{
    display: flex;
      justify-content: center;
      /* Center horizontally */
      
      /* Center vertically */
      height: auto;
      /* Set height of container to viewport height */
      
}

.w3-top {
  position: fixed;
  width: 100%;
  z-index: 1
}

.w3-top {
  top: 0
}

.w3-row-padding,
.w3-row-padding>.w3-half {
  padding: 0 8px
}

@keyframes w3-spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}

@keyframes fading {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes opac {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.w3-opacity,
.w3-hover-opacity:hover {
  opacity: 0.60
}


.w3-hover-opacity-off:hover {
  opacity: 1
}

.w3-small {
  font-size: 12px !important
}

.w3-xlarge {
  font-size: 24px !important
}

.w3-xxlarge {
  font-size: 36px !important
}


.welcome-text{
  font-size: 5vw;
}

.welcome-text-small {
  font-size: 0.8vw;
}

/* .w3-justify {
  text-align: justify !important
} */

.w3-center {
  text-align: center !important
}

.w3-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  padding: 10px
}

.w3-margin-right {
  margin-right: 16px !important
}

.w3-padding-large {
  padding: 12px 24px !important
}

.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important
}

/* Colors */








.w3-white {
  color: #000 !important;
  background-color: #fff !important
}

.w3-black,
.w3-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important
}

.w3-light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important
}

.w3-dark-grey {
  color: #fff !important;
  background-color: #616161 !important
}



.w3-text-grey {
  color: #757575 !important
}

.text-light-grey {
  color: #757575 !important
}







nav {
  background: transparent;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  float: right;

}

.hide-nav {
  display: none;
}

.logo-head {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
}

.navhead {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  height: 40px;
  justify-self: center;
  
}



.sidebar-toggle {
  /* position: fixed; */
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #6091e3;
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  position: fixed;
  top: 20px;
    /* Adjust the top distance from the top of the viewport */
    right: 20px;
    /* Fix the position */
}

.sidebar-toggle:hover {
  color: hsl(205, 90%, 76%);
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.close-btn-nav {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: all 0.3s linear;
  cursor: pointer;
  color: var(--clr-red-dark);

}
.close-btn-nav:hover {
  color: hsl(360, 71%, 66%);
 
  transform: rotate(360deg);
  
}

.sidebar {
  position: fixed;
  top: 100;
  left: 0;
  width: 100%;
  height: 30%;
  background: #f1f1f1;
  opacity: 98%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
  z-index: 999;
}

.show-sidebar {
  transform: translate(0);
}

.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  text-decoration: none;
}

.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
}


.employmentheader {
  text-align: right;
}


@media screen and (min-width: 1303px){
.Education-text {
    text-align: center;
    /* Center text horizontally */
    padding: 20px;
    /* Add some padding around the text */

    /* Set the font size */
    line-height: 1.5;
    /* Set the line height */
    max-width: 100%;
    /* Limit the maximum width of the text */
    margin: 0 auto;
    /* Center the container horizontally */

    border-radius: 8%;
  }
}


@media screen and (min-width: 1301px) {
  .w3-content {
      max-width: 1300px;
  
    }
                        .w3-padding-64 {
                          padding-top: 32px !important;
                          padding-bottom: 32px !important
                        }
            
    ul {
        list-style-type: none;
          padding: 0;
            margin: 0;
      }                      
  
}

@media screen and (min-width: 680px) {
 .project-image{
  width: 10%;
 }


            .container {
              position: relative;
              width: 100%;
            }

        .Education-image {
          flex: 0 0 100%;
          /* 30% width of the container */
          display: flex;
          justify-content: center;
          /* Center the image horizontally */
          align-items: center;
          /* Center the image vertically */
        
        }

        #main{
          margin-left: 200px;
        }

        .burger-nav{
          display: none;
        }



}








@media screen and (max-width: 680px) {


    .text-overlay {
        
        
        transform: translate(-50%, -50%);
        /* Adjust the width as needed */
      }


    .Education-image {
              flex: 0 0 100%;
              /* 30% width of the container */
              display: flex;
              justify-content: center;
              /* Center the image horizontally */
              align-items: center;
              /* Center the image vertically */
              
            }


      
        .w3-justify {
          text-align:  center;
        }

        .content-jobs {
          flex: 0 0 100%;
          /* 70% width of the container */
          padding-right: 0px;
          /* Add some space between text and image */
        }

        .employmentheader{
          text-align: center;
        }

        .Qualification_Image{
          flex: 0 0 100%;
            /* 30% width of the container */
          /* margin-right: 30px; */
      
          
        }

  .modal-content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    transform: translate(0%, 10%);
    text-align: center;
    color: white;
    
    

}
    .modal-content2 {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 50%;
      transform: translate(0%, 10%);
      text-align: center;
      color: white;
  
  
    }


.close-btn {
  position: relative;
  top: 0%;
  left: 50%;
  font-size: 200%;
  cursor: pointer;
  color: white;
  /* Change the color as needed */
}
}


@media screen and (max-width: 320px) {


  .text-overlay {
    width: 90%;
    background-color: transparent;
    transform: translate(-50%, -30%);
    
    /* Adjust the width as needed */
  }
  

  .sidebar{
    height: 50%;
  }

}



.burger-nav {
  position: absolute;
  top: 20px;
  /* Adjust as needed */
  right: 30px;
  /* Adjust as needed */
  z-index: 1000;
  /* Ensure it's above other content */
}

.hide-icon {
  display: none;
}








.close-btn {
  position: relative;
  top: 0%;
  left: 50%;
  font-size: 200%;
  cursor: pointer;
  color: white;
  /* Change the color as needed */
}